# ==== Virtual Environments ====
env/
env310/
tf215env/
tf210env/
venv/
.venv/

# ==== OS/System Files ====
.DS_Store      # macOS Finder metadata
Thumbs.db      # Windows thumbnail cache

# ==== Python Cache ====
__pycache__/
*.py[cod]

# ==== backtests====
.txt
.html

# ==== Model & Data Files ====

*.npy
*.joblib
*.csv
*.whl
*.bat

# ==== Logs ====
*.log

# ==== IDE/Editor Settings ====
.vscode/
.idea/

# ==== Secrets / Configs ====
secrets.json
.env
