# ==== Virtual Environments ====
env/
env310/
tf215env/
venv/
.venv/

# ==== OS/System Files ====
.DS_Store      # macOS Finder metadata
Thumbs.db      # Windows thumbnail cache

# ==== Python Cache ====
__pycache__/
*.py[cod]

# ==== Jupyter Notebook Checkpoints ====
.ipynb_checkpoints/

# ==== Model & Data Files ====
*.h5
*.npy
*.pkl
*.joblib
*.csv


# ==== Logs ====
*.log

# ==== IDE/Editor Settings ====
.vscode/
.idea/

# ==== Secrets / Configs ====
secrets.json
.env
